Repository DrBalls/etsy-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: Configure GitHub Actions workflows for CI/CD
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/desktop-test.yml
  .github/workflows/docker-build.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .taskmaster/tasks/tasks.json
  apps/api/.dockerignore
  apps/api/Dockerfile
  docs/ci-cd.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Remove Zone.Identifier files and add to .gitignore
  .gitignore
  .taskmaster/config.json:Zone.Identifier
Due: none

chore: Remove accidentally committed screenshot file
  Screenshot 2025-07-31 140655.png
Due: none

feat: Add Windows PowerShell deployment script
  deploy-windows.ps1
Due: none

fix: Correct PowerShell syntax errors in Windows deployment script
  deploy-windows.ps1
Due: none

feat: Add simple Windows batch deployment script
  deploy-windows.bat
Due: none

feat: Add simplified PowerShell deployment script
  deploy-simple.ps1
Due: none

fix: Fix TypeScript async return type in etsy-api-client.ts
  packages/shared/src/api/etsy-api-client.ts
Due: eslint --fix, prettier --write

fix: Fix TypeScript async return type in etsy-api-client-v2.ts
  packages/shared/src/api/etsy-api-client-v2.ts
Due: eslint --fix, prettier --write

fix: Add ioredis as devDependency for type declarations
  packages/shared/package.json
Due: prettier --write

fix: Resolve TypeScript and ESLint errors in redis-cache-provider
  packages/shared/src/api/redis-cache-provider.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: Comprehensive TypeScript build fixes for shared package
  packages/shared/.eslintrc.js
  packages/shared/src/api/sdk/index.ts
  packages/shared/src/api/sdk/inventory.ts
  packages/shared/src/api/sdk/orders.ts
  packages/shared/src/api/sdk/shipping.ts
  packages/shared/src/api/sdk/shops.ts
  packages/shared/src/api/sdk/taxonomy.ts
  packages/shared/src/api/sdk/user.ts
  packages/shared/src/types/etsy-types.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/missing-types.ts
Due: eslint --fix, prettier --write

fix: Resolve remaining TypeScript declaration build errors
  packages/shared/src/api/sdk/index.ts
  packages/shared/src/types/etsy-api.ts
  packages/shared/src/types/missing-types.ts
Due: eslint --fix, prettier --write

fix: Resolve inventory TypeScript errors
  packages/shared/src/api/sdk/inventory.ts
  packages/shared/src/types/missing-types.ts
Due: eslint --fix, prettier --write

fix: add type annotation for filter parameter
  apps/web/app/api/bulk/action/[action]/route.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
